*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: radial-gradient(
		circle farthest-corner at 92.3% 71.5%,
		rgba(83, 138, 214, 1) 0%,
		rgba(134, 231, 214, 1) 90%
	);
	background-attachment: fixed;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
